.projects__list-item {
    display: flex;
    flex-direction: column;

    max-height: 34em;
    border-radius: 4em;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;

    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 1000ms ease-out;
}

.projects__list-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 16;
    background-color: #9D8CB8;
}

.projects__list-item:nth-child(2) {
    grid-column-start: 17;
    grid-column-end: 26;

    background-color: #DAF0EE;
}

.projects__list-item:nth-child(3) {
    grid-column-start: 11;
    grid-column-end: 26;

    background-color: #B4C6DD;
}

.projects__list-item-image {
    position: relative;
    top: 10%;
    right: -10%;
    object-fit: cover;
    max-width: 1300px;
    border-radius: 1em;
    transition: transform 1000ms ease-out;
}

@media (max-width: 992px) {
    .projects__list-item {
        grid-column-start: 1 !important;
        grid-column-end: 26 !important;
        max-height: 22em;
        border-radius: 2em;
    }

    .projects__list-item-image {
        max-width: 450px;

    }
}

.projects__list-item-title {
    font-size: 2em;
    text-align: right;
    margin: 2em 2em 0 0;
}

.projects__list-item:hover .projects__list-item-image {
    transform: translateY(2%);
}

.projects__list-item:hover {
    transform: translateY(-2%);
    box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, .15);
    filter: saturate(1.7);
}