@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&family=Roboto+Condensed:wght@500;800&family=Roboto:wght@400;900&display=swap');

html {
  overscroll-behavior: none;
}

body {
  font-family: 'Golos Text', 'Roboto', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  color: black;

  background: linear-gradient(300deg, rgba(146, 231, 255, .5), rgba(255, 255, 255, .5), rgba(215, 126, 244, 0.46), rgba(192, 151, 238, .5), rgba(196, 225, 199, .5), rgba(162, 184, 242, .5), rgba(146, 231, 255, .5));
  background-size: 420% 420%;
  animation: gradient-animation 70s ease infinite;

  overscroll-behavior: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body h1 {
  font-family: 'Golos Text', 'Roboto Condensed', sans-serif;
  font-weight: 900;
}

h2,
h3 {
  font-family: 'Golos Text', 'Roboto', sans-serif;
  font-weight: 500;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 7em;
}