.about {
    /* margin: 4em 0 0 0; */
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */
    /* z-index: 10; */
    /* background-color: #2b2b2b; */
    /* color: white; */
}

.about__wrapper {
    flex: 1;
    height: 100%;
    /* margin: 4em; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #2b2e28; */
    /* filter: blur(2px); */
    /* overflow: auto; */
    position: relative;
}



.about-title {
    font-size: 3.5em;
    text-transform: uppercase;
    padding: 2rem 0 0 4rem;
    /* font-weight: 900; */
    align-self: flex-start;
}

.about__content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: #2b2e28; */
    color: black;
    padding: 2em;
    border-radius: 4em;
    /* color: white; */

    /* background-color: #2b2e28; */
}



.about__content-text {
    width: 40%;
    text-align: justify;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.2em;
}

.about__content-skillList {
    
    width: 40%;
    /* height: 300px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: spac;     */
    /* justify-content: space-around; */
}

.skill__list-row {
   display: grid;
   
   /* max-height: 300px; */
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(2,1fr);
   align-items: center;
   gap: 1em;
   
}

.skill__list-row  > :first-child {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}

/* .skill__list-row:nth-child(1) {
height: 300px;

} */

.skill__list-item img {
    filter: invert(1);
    /* height: 2fr; */
    /* width: auto; */
    /* object-fit: cover; */
}

.about__content-skillList > :first-child img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

@media (max-width:1100px) {
    .about__content {
        flex-direction: column;
        gap: 2em
    }
    .about__content-text {
        width: 60%;
    }

    .about__content-skillList{
        width: 60%;
    }
}

@media (max-width:650px) {
    .about-title {
        padding: 2rem 0 0 0;
        align-self:center;
    }

    .about__content {
        flex-direction: column;
    }

    .about__content-text{
        width: auto;
        padding-bottom: 2em;
    }

    .about__content-skillList {
        width: 100%;
        padding: 2em 0;
    }
    .skill__list-row {
        /* gap: 1em; */
    }
    .about__content-skillList > :first-child img {
        /* height: 200px;
        width: auto; */
    }
}