.contacts {
    margin-top: 4em;
    height: 100vh;
    /* scroll-snap-align: end; */
    overflow: hidden;
}


.contacts__container {
    padding: 4em 4em 2em 4em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__container h2 {
    font-size: 5em;
}

.tg__wrapper {
display: flex;
justify-content: end;
}

.tg-link {
    /* align-self: flex-end; */
    color: #2e2b28;
   align-self: center;
}

.tg-link h2 {
    text-decoration: underline;
    transition: transform 1000ms;
}

.tg-link h2:hover {
    transform: scale(1.1);
}

.contacts__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__list a {
    color: #2e2b28;
}

.contacts__list-row {
    display: flex;
}

.contacts__list-row li {
    margin: 0 1em;
}

#arrow {
    width: 20%;
    height: auto;
    align-self: center;
    margin-right: 10%;
    /* filter: invert(3); */
}

@media (max-width:650px) {
    .contacts__container {
        padding: 4em 2em 2em 2em;
    }
    .contacts__container h2 {
        font-size: 3.5em;
    }
    #arrow {
        width: 40%;
    }

}