.contacts {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts__header{
    font-family: "gabriella", sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;  
    font-size: 3.5em;
}

.contacts__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: 30px; */
}

.contacts__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    /* box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-radius: 1em; */

}

/* .contacts__list-item:nth-child(1) {
    background-color:  rgba(244, 126, 185, 0.5);
}
.contacts__list-item:nth-child(2) {
    background-color: rgba(192, 151, 238, 0.5);
}
.contacts__list-item:nth-child(3) {
    background-color: rgba(162, 184, 242, 0.5);
} */

.contacts__list-item h2 {
    font-size: 3em;
    margin: 0 0 20px 0;
}

@media (max-width:450px) {
    .contacts__header {
        display: none;
    }
}