.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.projects__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: #2e2b28; */

    padding: 4em 5em;
}


.projects__list {
    width: 100%;
    column-gap: 1em;
    row-gap: 1em;
    /* padding: 0 4em; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects__title {
    /* align-self: flex-start; */
    font-size: 3.5em;

}

.projects__title strong {
    /* background-color: #2e2b28; */

    color: #2e2b28;
    /* mix-blend-mode: multiply; */
    padding: 0 0.1em;
    

}

.projects h2,
.projects h2 strong {
    font-family: "gabriella", sans-serif;
    font-style: normal;
    font-weight: 900;
}

.title__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
}

.projects__git {
    height: 3.5em;
    filter: invert(1);
}

.projects__git-mobile {
    display: none;
}


@media (max-width:650px) {
    .projects__title {
        display: none;
    }

    .projects__wrapper {
        padding-top: 4em;
    }

    .projects__git {
        display: none;
    }

    .projects__git-mobile {
        display: block;
        filter: invert(1);
        width: 3.5em;
        margin: 2em
    }
}